* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(50, 50, 50);
}

/* TEXT HEADERS */

.mov-label,
.featured-header,
.hero-label {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    justify-self: center;
    color: rgb(231, 81, 81);
}

/* HERO SECTION */

.hero {
    margin: auto;
    margin-top: 140px;
    height: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    user-select: none;
}

.hero-poster {
    width: 90vw;
    margin-top: 1.25vw;
    align-self: center;
    transition: 0.8s;
}

.hero-label {
    font-size: 150px;
    position: absolute;
    align-self: center;
    margin-top: 10.5%;
    z-index: 10;
    text-shadow:
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black;
}

.hero:hover .hero-poster {
    margin-top: 0.5vw;
    width: 95vw;
    cursor: pointer;
}

.hero:hover .hero-label {
    cursor: pointer;
}

/* FEATURED SECTION */

.featured-section {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1750px;
    justify-items: center;
}

.featured-movies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 1350px;
    width: 1500px;
    justify-items: center;
    align-items: center;
}

.mov {
    display: grid;
    justify-items: center;
    align-items: center;
}

.mov-label {
    font-size: 35px;
    width: auto;
}

.featured-header {
    font-size: 90px;
}

.movie-poster {
    width: 380px;
    height: 570px;
    cursor: pointer;
    transition: 1s;
    transform: scale(0.9);
}

.movie-poster:hover {
    transform: scale(1);
}

/* FOOTER SECTION */

.footer {
    display: grid;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    width: 800px;
    grid-template-rows: repeat(2, auto);
}

.footer>* {
    align-items: center;
    justify-items: center;
    display: grid;
}

.footer-links {
    grid-template-columns: repeat(3, 1fr);
}

.footer-link {
    color: rgb(150, 150, 255);
}

.footer-text {
    grid-template-columns: repeat(2, 1fr);
    color: white;
}


/* MEDIA QUERY */

@media (min-width: 1000px) and (max-width: 1500px) {

    .featured-movies,
    .featured-section {
        width: 1000px;
    }

    .featured-movies {
        grid-template-columns: repeat(2, 1fr);
        height: 1850px;
    }

    .featured-section {
        margin-top: 75px;
    }

    .movie-poster {
        width: 350px;
        height: 525px;
    }

    .hero-label {
        font-size: 100px;
    }

    .featured-header {
        font-size: 80px;
    }

    .footer {
        width: 1000px;
    }
}

@media (max-width: 1000px) {

    .featured-movies,
    .featured-section {
        width: 500px;
    }

    .featured-movies {
        grid-template-columns: 1fr;
        height: 3700px;
    }

    .featured-section {
        margin-top: 50px;
    }

    .movie-poster {
        width: 350px;
        height: 525px;
    }

    .hero-label,
    .featured-header {
        font-size: 75px;
    }

    .footer {
        width: 300px;
    }
}