* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(50, 50, 50);
}

.mov-label,
.featured-header,
.hero-label {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    justify-self: center;
    color: rgb(231, 81, 81);
}

@media (min-width: 1000px) and (max-width: 1500px) {
    .featured-movies,
    .featured-section {
        width: 1000px;
    }

    .featured-movies {
        grid-template-columns: repeat(2, 1fr);
        height: 1850px;
    }

    .featured-section {
        margin-top: 75px;
    }

    .movie-poster {
        width: 350px;
        height: 525px;
    }

    .hero-label {
        font-size: 100px;
    }

    .featured-header {
        font-size: 80px;
    }

    .footer {
        width: 1000px;
    }
}

@media (max-width: 1000px) {
    .featured-movies,
    .featured-section {
        width: 500px;
    }

    .featured-movies {
        grid-template-columns: 1fr;
        height: 3700px;
    }

    .featured-section {
        margin-top: 50px;
    }

    .movie-poster {
        width: 350px;
        height: 525px;
    }

    .hero-label,
    .featured-header {
        font-size: 75px;
    }

    .footer {
        width: 300px;
    }
}